<div class="container">
  <div class="row">
    <code-visualiser-web-code-smell-selection
      class="col-lg-6 col-md-12"
      [codeSmellImpact]="codeSmellImpact$ | async"
      [smells]="classSmells"
      [title]="'Class specific code smells'"
      [description]="'Code smell score is calculated based on whether the code smell is found in class'"
      [colorClass]="'card-header-warning'"
      [colorRange]="colorRange"
      [iconColorClass]="'btn-warning'"
      (checkBoxEvent)="codeSmellChanged($event)"
    ></code-visualiser-web-code-smell-selection>
    <code-visualiser-web-code-smell-selection
      class="col-lg-6 col-md-12"
      [codeSmellImpact]="codeSmellImpact$ | async"
      [smells]="methodSmells"
      [title]="'Method specific code smells'"
      [description]="'Code smell score is calculated based on number of smelly methods found in class'"
      [colorClass]="'card-header-success'"
      [colorRange]="colorRange"
      [iconColorClass]="'btn-success'"
      (checkBoxEvent)="codeSmellChanged($event)"
    ></code-visualiser-web-code-smell-selection>
  </div>
  <button type="submit" class="btn btn-success pull-right force-right" (click)="loadClasses()">Get code analysis</button>
  <button type="submit" class="btn btn-success pull-right force-right" (click)="changeApp()">Change application</button>
  <div class="clearfix"></div>
  <code-visualiser-web-visualisation-options-selection
    [nrOfModifiedParameters]="nrOfParametersModified$ | async"
    [branches]="branches$ | async"
    (branchChanged)="onBranchChange($event)"
    (colorRangeChangeEvent)="onRangeChange($event)">
  </code-visualiser-web-visualisation-options-selection>

  <ng-container *ngIf="branch">
    <code-visualiser-web-code-smell-evolution
      [commits]="commits$ | async"
      (commitChangedEventEmitter)="onCommitChanged($event)"
    ></code-visualiser-web-code-smell-evolution>
  </ng-container>
</div>
