/* You can add global styles to this file, and also import other style files */
//@import "~bootstrap";

/* Importing Bootstrap SCSS file. */
//@import '~bootstrap/scss/bootstrap';

/* Import ng-select CSS file */
//@import '~@ng-select/ng-select/themes/default.theme.css';

/* Import material dashboard CSS file */
@import "~material-dashboard-dark-edition/assets/scss/material-dashboard";

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import 'variables';

.green-snackbar {
  background: #258063;
  color: white;
}
.green-snackbar button {
  color: white;
  border: none;
}

i.icon-green {
  color: $custom-green
}

i.icon-yellow {
  color: $custom-yellow
}

i.icon-red {
  color: $custom-red
}
