<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">Commit selection</h4>
    <p class="card-category">Select a commit</p>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active">
        <table class="table scrollable scrollable-x">
          <tbody *ngFor="let commit of commits">
            <tr>
              <td class="td-actions text-left" [ngClass]="getTextColor(commit.id)">
                <button
                  type="button"
                  class="btn btn-link btn-sm"
                  (click)="OnCommitChange(commit)"
                >
                  <i class="material-icons" [ngClass]="getIconColor(commit.id)">more_vert</i>
                </button>
                {{commit.time | date: 'dd.MM.yyyy HH:mm'}}  -  {{commit.message}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
