::ng-deep svg {
  background-color: #202940;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

::ng-deep text {
  fill: #202940;
  font-family: sans-serif;
  pointer-events: none;
  text-anchor: middle;
}

::ng-deep tspan {
  display: block;
}

::ng-deep .invisible {
  opacity: 0;
}
