<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title">Upload code</h4>
            <p class="card-category">Upload code from git by providing repository URL and credentials or select app from preloaded applications</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="bmd-label-floating">Project path</label>
                      <input type="text" class="form-control" [(ngModel)]="selectedPath" name="first">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <form class="example-form">
                      <mat-form-field class="example-full-width">
                          <input type="text"
                                 placeholder="Select app ..."
                                 matInput
                                 [formControl]="appSelectionControl"
                                 [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete"
                                          (optionSelected)="onAppSelected($event)">
                          <mat-option class="custom-mat-option" *ngFor="let option of filteredOptions | async"
                                      [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </form>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary pull-right force-right" [disabled]="!selectedApp && !selectedPath" (click)="analyse()">Analyse code</button>
              <button type="submit" class="btn btn-primary pull-right force-right" [hidden]="isCancelButtonHidden()" (click)="return()">Cancel</button>
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
