$custom-white: #8b92a9;
$custom-grey-blue: #2F374B;
$saturated_purple: #9C27B0;
$custom-blue: #202940;
$background-blue: #1A1F35;

.force-right {
  float: right;
}

.example-full-width {
  width: 100%;
  max-height: 0;
}

::ng-deep {
  .mat-form-field-infix {
    border-top: 0
  }

  .mat-form-field {
    .mat-form-field-label {
      color: $custom-white;
    }
    .mat-input-element {
      color: $custom-white;
    }
    .mat-form-field-underline {
      background-color: $custom-grey-blue;
    }
    .mat-form-field-ripple {
      background-color: $custom-white;
    }
    .mat-form-field-required-marker {
      color: $custom-white;
    }
  }

  .mat-form-field.mat-focused {
    .mat-form-field-label {
      color: $saturated_purple;
    }
    .mat-form-field-ripple {
      background-color: $saturated_purple;
    }
    .mat-form-field-required-marker {
      color: $saturated_purple;
    }
    .mat-input-element {
      color: $saturated_purple;
    }
  }

  .mat-selected {
    background-color: $background-blue !important;
    color: $saturated_purple !important;
  }

}

.custom-mat-option {
  background-color: $custom-blue;
  color: $custom-white
}

.custom-mat-option:hover {
  background-color: $background-blue;
}

.custom-mat-option:checked {
  background-color: $background-blue;
}

.custom-mat-option:focus {
  background-color: $background-blue;
}
