<div class="container">
  <div class="row">
    <code-visualiser-web-code-smell-selection
      class="col-lg-12 col-md-12"
      [smells]="classSmells"
      [title]="'Class specific code smells'"
      [description]="'Current values are calculated based on statistical analysis taken from multiple applications'"
      [colorClass]="'card-header-primary'"
      [iconColorClass]="'btn-primary'"
      [isParamsAdjustable]="true"
      (parameterChangedEvent)="codeSmellChanged($event)"
    ></code-visualiser-web-code-smell-selection>
    <code-visualiser-web-code-smell-selection
      class="col-lg-12 col-md-12"
      [smells]="methodSmells"
      [title]="'Method specific code smells'"
      [description]="'Current values are calculated based on statistical analysis taken from multiple applications'"
      [colorClass]="'card-header-primary'"
      [iconColorClass]="'btn-primary'"
      [isParamsAdjustable]="true"
      (parameterChangedEvent)="codeSmellChanged($event)"
    ></code-visualiser-web-code-smell-selection>
  </div>
  <button type="submit" class="btn btn-primary pull-right force-right" (click)="saveParameterValues()">Save</button>
</div>
