$custom-white: #8b92a9;
$custom-grey-blue: #2F374B;
$saturated_green: #258063;
$custom-blue: #202940;
$background-blue: #1A1F35;

::ng-deep {

  .slider.slider-horizontal {
    width: 310px;
  }

  .slider-track-low {
    background: #69b3a2;
  }
  .slider-selection {
    background: #dadb81;
  }
  .slider-track-high {
    background: #b36969;
  }

  .slider-handle {
    background: #dadb81;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
    max-height: 0;
  }

  .mat-form-field-infix {
    border-top: 0
  }

  .mat-form-field {
    .mat-form-field-label {
      color: $custom-white;
    }
    .mat-input-element {
      color: $custom-white;
    }
    .mat-form-field-underline {
      background-color: $custom-grey-blue;
    }
    .mat-form-field-ripple {
      background-color: $custom-white;
    }
    .mat-form-field-required-marker {
      color: $custom-white;
    }
  }

  .mat-form-field.mat-focused {
    .mat-form-field-label {
      color: $saturated_green;
    }
    .mat-form-field-ripple {
      background-color: $saturated_green;
    }
    .mat-form-field-required-marker {
      color: $saturated_green;
    }
    .mat-input-element {
      color: $saturated_green;
    }
  }

  .mat-selected {
    background-color: $background-blue !important;
    color: $saturated_green !important;
  }

}

.custom-mat-option {
  background-color: $custom-blue;
  color: $custom-white
}

.custom-mat-option:hover {
  background-color: $background-blue;
}

.custom-mat-option:checked {
  background-color: $background-blue;
}

.custom-mat-option:focus {
  background-color: $background-blue;
}
