<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card card-stats">
        <div class="card-header card-header-danger card-header-icon">
          <div class="card-icon">
            <i class="material-icons">settings</i>
          </div>
          <p class="card-category">Parameter Adjustment</p>
          <h3 class="card-title">{{nrOfModifiedParameters}}/38
            <small>modified</small>
          </h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons text-danger">warning</i>
            <a href="{{getParametersUrl()}}">For advanced users only...</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card card-stats">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon">
            <i class="material-icons">account_tree</i>
          </div>
          <p class="card-category">Select branch</p>
        </div>
        <div class="card-footer">
          <form class="example-form">
            <mat-form-field class="example-full-width" floatLabel="never">
              <input type="text"
                     placeholder="Select branch ..."
                     matInput
                     [formControl]="branchSelectionControl"
                     [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onBranchChange($event)">
                <mat-option class="custom-mat-option" *ngFor="let option of filteredOptions | async"
                            [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="card card-stats">
        <div class="card-header card-header-warning card-header-icon">
          <div class="card-icon">
            <i class="material-icons">color_lens</i>
          </div>
          <p class="card-category">Color Adjustment</p>
          <h3 class="card-title">colors</h3>
        </div>
        <div class="card-footer">
          <div class="stats">
            <mv-slider [(value)]="value"
                       [min]="-1"
                       [max]="5"
                       [range]="true"
                       (change)="change($event)"></mv-slider>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
