<code-visualiser-web-code-analysis></code-visualiser-web-code-analysis>
<code-visualiser-web-d3-canvas [classesAnalysis]="codeAnalysis$ | async"
                               [colorRange]="colorRange$ | async"
                               [isLoading]="isLoading$ | async"></code-visualiser-web-d3-canvas>
