<div class="card">
  <div class="card-header" [ngClass]="colorClass">
    <h4 class="card-title">{{title}}</h4>
    <p class="card-category">{{description}}</p>
  </div>
  <div class="card-body">
    <div class="tab-content">
      <div class="tab-pane active">
        <table class="table scrollable scrollable-x">
          <tbody *ngFor="let smell of smells">
          <tr>
            <td *ngIf="!isParamsAdjustable">
              <div class="form-check">
                <label class="form-check-label">
                  <input class="form-check-input" type="checkbox" [ngModel]="smell.selected" (change)="changeValue(smell)">
                  <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                </label>
              </div>
            </td>
            <td [ngClass]="width()">{{smell.name}}</td>
            <td *ngIf="isParamsAdjustable" class="width-70">
              <div class="row">
                  <div class="col-md-3" *ngFor="let parameter of smell.parameters">
                    <label class="multiline-label">{{parameter.name}}
                      <input type="text"
                             pattern="[0-9]+([\.,][0-9]+)?"
                             class="form-control"
                             [ngModel]="parameter.value"
                             (ngModelChange)="onParamValueChange(smell, parameter, $event)"
                             placeholder="{{parameter.value}}">
                    </label>
                  </div>
              </div>

            </td>
            <td *ngIf="!isParamsAdjustable" class="td-actions text-right">
              <button type="button" rel="tooltip" title="Code smell impact" class="btn btn-link btn-sm">
                <i class="material-icons" [ngClass]="getIconColor(smell.name)">circle</i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
